/* *{
    border: 2px solid;
    color: red;
} */
body{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

div{
    display: block;
}

h1{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.navbar{
    display: flex;
    color: white;
    background-color: blanchedalmond;
    padding: 20px 0px 20px 100px;
    align-items: center;
    margin: -8px;
    font-family: 'Quicksand', sans-serif;
}

.header-link{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.header-link a{
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

.center{
    background-color: blanchedalmond;
    padding: 90px;
    margin: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerText{
    flex-basis: 400px;
    flex-direction: column;
    margin-right: 100px;
    text-align: left;

}

.centerText p{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.content{
    align-items: center;
}

.content-info{
    display: flex;
    justify-content: center;
    z-index: -2;
}

.content-info img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid black;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;

}

.footer{
    background-color: blanchedalmond;
    color: black;
    font-family: 'Quicksand', sans-serif;
    border-color: blanchedalmond;
    padding: 5px;
    margin: -8px;
    align-items: center;

}
